/* Ensure to include this CSS in your project */
@media print {
    body * {
        visibility: hidden;
    }
    #print-contents, #print-contents * {
        visibility: visible;
    }
    #print-contents {
        position: absolute;
        left: 0;
        top: 0;
    }
}

.d-none {
    display: none;
}
