@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');



.img-icon-one,
.img-icon-two,
.img-icon-three,
.img-icon-four,
.img-icon-five,
.img-icon-six,
.img-icon-seven,
.img-icon-eight,
.img-icon-nine{
    margin-left: 20px;
    margin-right: 20px;
}

#dashboard-hamburger{
    background-color: #004d40 !important;
}